<html>
    <link rel="stylesheet" href="/static/colors.css">
    <body>
    <table class="frame">
            <tr><td><div class="colorbox" style="background-color:rgb({{red}}, {{green}}, {{blue}});">&nbsp;</div></td></tr>
            <tr><td class="colordescription">{{name}}: {{rgb}}</td></tr>
        </table>
     <form method="POST">
            <table class="table" style="width:100%">
                <tr class="td">
                  <th class="th">Name</th>
                  <th class="th">{{form.red.label}}</th>
                  <th class="th">{{form.green.label}}</th>
                    <th class="th">{{form.blue.label}}</th>
                </tr>
                <tr>
                  <td class="td">{{form.label}}</td>
                  <td class="td">{{form.red}}</td>
                  <td class="td">{{form.green}}</td>
                    <td class="td">{{form.blue}}</td>
                </tr>
                <tr>
                  <td class="td"><input type="submit" value="Insert"></td>
                </tr>
            </table>
     </form>
    </body>
</html>