[submodule "faccialibro"]
	path = faccialibro
	url = https://github.com/AlfaSierra92/faccialibro
[submodule "electricity"]
	path = electricity
	url = https://github.com/AlfaSierra92/electricity
[submodule "travel"]
	path = travel
	url = https://github.com/AlfaSierra92/travel_flask-restful
[submodule "rainbow"]
	path = rainbow
	url = https://github.com/AlfaSierra92/rainbow_flask
